* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    background-color: beige;
    width: 50%;
    max-width: 900px;
    min-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.dark-container {
    background-color: blue;
    padding: 5px;
}