* {

}
body {
    margin: 0px;
    font-family: sans-serif;
}
.two-col {
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 1280px;
    margin: 25px auto 0px;
    gap: 50px;
}
img {
    width: 200px;
    object-fit: cover;
}
header #nav-bar {
    background: linear-gradient(to bottom, rgba(248, 231, 243, 0.669), pink);
    display: flex;
    justify-content: space-between;
}
.single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}
.single-column h1 {
    text-align: center;
    color: rgb(169, 6, 120);
}
#nav-bar a {
    color: rgb(214, 116, 186);
    align-content: center;
}
.image img {
    display: inline-block;
    width: 500px;
    height: 500px;
}
.content .p1 {
    text-align: left;
}
#sidebar ul {
    background-color: #ffc9e6;
    border: 0.5px solid #ffa600;
    margin: 0px 0px 25px;
    list-style-type: none;
    padding: 0px 15px;
}
#sidebar {
    width: 250px;
    order: 2;
}

