* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}

.two-col {
    display: flex;
    justify-content: center;
    width: 80vw;
    max-width: 1280px;
    margin: 25px auto 0px;
    gap: 50px;
}
#sidebar {
    width: 250px;
    order: 2;
}
#sidebar h2 {
    background-color: #ffa600;
    margin: 0px;
    padding: 10px;
    font-size: 18px;
}
#sidebar ul {
    background-color: #ffecc9;
    border: 0.5px solid #ffa600;
    margin: 0px 0px 25px;
    list-style-type: none;
    padding: 0px 15px;
}
#sidebar li {
    border-bottom: 0.5px solid #ffa600;
    padding: 10px 0px;
}
#sidebar li:last-child {
    border: 0px;
}
#sidebar a {
    text-decoration: none;
    color: black;
}

#main {
    flex: 1;
    order: 1;
    max-width: 600px;
}
#main h1 {
    margin-top: 0px;
    padding: 25px;
    border: 5px solid #000000;
}
