* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    width: 90vw;
    max-width: 1200px;
    margin: 0px auto;
}
img {
    width: 100%;
    object-fit: cover;
}
.recipe-intro {
    display: flex;
    gap: 25px;
}
.recipe-intro .image-container,
.recipe-intro .content {
    flex: 1;
}

.time {
    display: flex;
    gap: 25px;
}

.three-cards {
    display: flex;
    gap: 25px;
}
h2 {
    text-align: center;
}
.recipe {
    border: 5px solid black;
    margin: 5pxpx 0px;
    padding: 5px;
    border-radius: 10;
}