#t1 {
    color: green;
}

#t1-s1{
    color: #F711F7  
}

#t1-s2{
    color: #F711F7
}

#t2-s1{
    color: red
}

#t2-s2{
    color:goldenrod
}

#t2-s3{
    color:blue
}

#t4-p4{
    background-color: skyblue;
}

#t5-s1{
    background-color: yellow;
}

#t6-s1{
    font-weight: bold;
}

#t6-s2{
    font-weight: bold;
}

#t7-s1{
    font-style: italic;
}

#t7-s2{
    font-weight: bold;
}

#t7-s3{
    font-style: italic;
}

#t8-s1{
    text-decoration: underline;
}

#t8-s2{
    text-decoration: underline;
}

#t9-s1{
    font-size: 39px;
}

#t10-s1{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

#t10-s2{
    text-align: center;
    font-size: 48px;
}

#t10-s3{
    text-align: center;
    font-size: 24px;
    font-style: italic;
}