.color-palette {
    box-shadow: 6px 6px 12px #989898;
    text-align: center;
    margin: 24px;
    padding: 24px;
}

#p1-c1 {
    background-color: #fe9179;
    margin: 24px;
    padding: 24px;
}

#p1-c2 {
    background-color: #fdc1b4;
    margin: 24px;
    padding: 24px;
}

#p1-c3 {
    background-color: #ffedd1;
    margin: 24px;
    padding: 24px;
}