@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Oswald:wght@200..700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
header #top {
    background: linear-gradient(to bottom, rgb(119, 201, 245), #050505);
    display: flex;
    justify-content: space-between;
}
#top h1 {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: aliceblue;
}
#top a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
}
.title {
    font-family: "Oswald", sans-serif;
    font-style: normal;
}
.hero {
    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 24px;
}

.hero h1 {
    color: azure;
    font-size: 72px;
    margin-bottom: 16px;
}
.hero a {
    width: max-content;
    padding: 10px;
    border-radius: 15px;
    color: rgb(255, 251, 251);
    display: block;
    margin-left: auto;
    align-self: end;
    font-size: 24px;
}
.layout {
    max-width: 900px;
    width: 90%;
    margin-left:  auto;
    margin-right: auto;
}
.layout h1 {
    font-size: 62px;
    text-align: center;
    text-decoration: underline;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 200px;
    gap: 15px;
}
#gallery img {
    height: 100%;
    width: 100%;
}

.cards {
    display: flex;
}